Makefile
Makefile.in
config.*
/aclocal.m4
/compile
/configure
/configure~
/depcomp
/missing
/autom4te.cache
/install-sh
.deps/
/src/.deps/
/src/mumudvb
/src/stamp-h1
*.o
*.sw[po]
.vs/
MuMuDVB.vcxproj.user
Debug/
Release/
doc/mumudvb.8
